img {
  width:150px;
  height: 180px;
}
#img{
  width: 25px;
  height: 25px;
 
}
div {
  padding-right: 50px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}
h2 {
  font-weight: bold;
}
span {
  font-weight: bold;
}
#rating{
position: absolute;
padding-left: 2%;

margin-top: 1%;

}
button{
  background-color: orange;
  
}