#products_word{
  position: absolute;
  font-size: 40px;
 
  font-family: Arial, Helvetica, sans-serif;

  margin-left: auto;
  left: 45%;
  margin-right: -50%;

 
}
.main_image{
    width:200px;
    height: 240px;
    
  }
  img{
  width:100%;     
  height: 100%;
  }
  #img{
    width: 25px;
    height: 25px;
   
  }
  div {
    padding-right: 50px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  h2 {
    font-weight: bold;
  }
  span {
    font-weight: bold;
  }
  #rating{
  position: absolute;
  padding-left: 2%;
  
  margin-top: 1%;
  
  }
  button{
    background-color: orange;
    margin-left: 10px;
    
  }
  #rating{
    margin-top: 7px;
    margin-left: 30px;
  }

  .products_block{
   
    display: flex;
    flex-wrap: wrap;
  justify-content: start;
  }
  .product_div{
    margin-top: 15%;
    margin-left: 14%;
    width: 400px;
    border: 0.5px solid rgb(189, 199, 216);
    border-radius: 10px;
   padding-left: 25%;
   height: 410px;
    
  }
  .rating_btn{
    position: relative;
    bottom: 0;
  }

 