
  <div  id="products_word" *ngFor="let product of products">
    {{product.categoryName}}
  </div>
 

<div class="products_block">

  <div *ngFor="let product of products">
   
  <div class="product_div">
    <h3>
    <a routerLink="/products/{{product.id}}">
       {{product.name}}
    </a>
  </h3>
 
  <div class="main_image">
<a href="{{product.originalLink}}"><img  src="{{product.images}}"></a><br>
</div>

<span id="view_count"> View_Count: {{product.view_count}}</span>

<div class="rating_btn">



<img id="img" src="https://pngimg.com/uploads/star/star_PNG41472.png"> 
<span id="rating"> Rating: {{product.rating}}</span><br>

<span id="price">{{product.price}}</span> 

<button> 
  <a href = "https://api.whatsapp.com/send?phone=77079344712&text={{product.name     }}        {{product.originalLink}}"  style="color: white"> Share</a>

</button>
</div>
</div>

</div>  
</div>