<h3>Cart</h3>
<p>
  <a routerLink="/shipping">Shipping     Prices</a>
  <button id="btn_clear" (click)="clearCart()">Clear</button>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price}}</span>
 
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  
  <button class="button" type="submit">Change Name</button>

</form>
