<h2> Наушники</h2>

<div  *ngFor="let product of products">

  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3 >
    <a href="{{product.url}}"><img src="{{product.img}}"></a>
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
  <img id="img" src="https://pngimg.com/uploads/star/star_PNG41472.png">
  <span id="rating">{{product.rating}}</span><br><br>
  <button (click)="share"> 
    <a href = "https://api.whatsapp.com/send?phone=77079344712&text={{product.url}}"  style="color: white"> Share</a>
 
  </button>
  <hr>

</div>
